
@font-face {
    font-family: 'exocetlight';
    src: url('../fonts/exl_____-webfont.eot');
    src: url('../fonts/exl_____-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/exl_____-webfont.woff') format('woff'),
    url('../fonts/exl_____-webfont.ttf') format('truetype'),
    url('../fonts/exl_____-webfont.svg#exocetlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'avalonquestregular';
    src: url('../fonts/avalon-webfont.eot');
    src: url('../fonts/avalon-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avalon-webfont.woff') format('woff'),
    url('../fonts/avalon-webfont.ttf') format('truetype'),
    url('../fonts/avalon-webfont.svg#avalonquestregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#0f0f0f;
    background-image: url('../images/background.png');

    margin:0px;
    padding:0px;

    width:100%;
    height:100%;
    max-width: 100%;
    max-height:100%;
    overflow: hidden;
}

.layer {
    width: 100%;
    height:100%;
    max-width: 100%;
    max-height:100%;
    overflow: hidden;
}


.tile{
    width: 256px;
    height:256px;
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0px;
    background-repeat: repeat;
    background-clip:border-box;
}

#hero{
    width: 72px;
    height: 96px;
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0px;
}

.sprite{
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0px;
}



#compass{
    background: url('../images/compass_rose.png');
    background-position:0px 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0px;
    left:0px;
}
#touch{
    background: url('../images/touch.png');
    background-position:0px 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0px;
    left:0px;
}
.touchSegment{
    background: url('../images/touch_segment.png');
    background-position:0px 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0px;
    left:0px;
}




.overlayContainer {
    /* http://www.colorzilla.com/gradient-editor/ */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(0,130,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(0,130,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,130,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,130,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,130,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(0,130,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0082e5',GradientType=0 ); /* IE6-9 */


    border: 2px solid white;
    border-radius: 10px;
    color:#FFF;
    font-family: avalonquestregular;
    padding:1px;
}

#hud {
    position: absolute;
    bottom: 15px;
    left:15px;
    right:15px;
    max-width: 170px;
}

#hud table {
    font-size: 1em;
    color:#FFF;
    padding:1px;
    width: 100%;
}
#hud table .active {
    color:yellow;
    font-weight: bold;
}
#hud table .stats {
    text-align: right;
}


#title {
    position: absolute;
    top: 15px;
    left:15px;
    right:15px;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}


#title.large  {
    font-size: 1.5em;
}

#hud.large table {
    font-size: 1.4em;
    padding:6px;
}

.overlayContainer.large {
    padding:6px;
}

#hud.large  {
    position: absolute;
    bottom: 15px;
    left:15px;
    right:15px;
    max-width: 270px;
}
