#main-game-window .title {
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
}

#world {
}

#canvas {
    width:800px;
    height:800px;
}

#file-menu {
    background-color: lightgray;
}

#menu-file {
    width:150px;
    border: 1px solid Black;
    position: absolute;
    z-index:10;
}
