.welcome {
    width:32px;
    height:32px;
    background:url('../resources/cotwsprites01.gif') 0 0;
}

.tile {
    width:32px;
    height: 32px;
    position: absolute;
}

.type_Rock { background: url('../resources/tiles.png') 0 0;}
.type_RockPath { background: url('../resources/tiles.png') 192px 0;}
.type_Grass { background: url('../resources/tiles.png') 0 288px;}
.type_GrassPath { background: url('../resources/tiles.png') 192px 288px;}
.type_Crop { background: url('../resources/tiles.png') 160px 288px;}
.type_DarkDgn { background: url('../resources/tiles.png') 0 256px;}
.type_DarkDgnWall { background: url('../resources/tiles.png') 192px 256px;}
.type_Water { background: url('../resources/tiles.png') 0 224px;}
.type_WaterGrass { background: url('../resources/tiles.png') 192px 224px;}
.type_Path { background: url('../resources/tiles.png') 0 192px;}
.type_WaterPath { background: url('../resources/tiles.png') 192px 192px;}
.type_LitDgn { background: url('../resources/tiles.png') 0 160px;}
.type_LitDgnWall { background: url('../resources/tiles.png') 192px 160px;}



#hero {
    width:32px;
    height:32px;
    background:url('../resources/cotwsprites01.gif') 64px 128px;
    position: absolute;
}

#compass{
    background: url('../images/compass_rose.png');
    background-position:0 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
}
#touch{
    background: url('../images/touch.png');
    background-position:0 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
}
.touchSegment{
    background: url('../images/touch_segment.png');
    background-position:0 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
}
